<mat-selection-list [multiple]="false">

    <mat-list-option style="justify-content: left;">
        <mat-icon mat-list-icon>add_circle</mat-icon>
        <span>Add Node</span>
    </mat-list-option>

    <mat-list-option>
        <mat-icon mat-list-icon>remove_circle</mat-icon>
        <span>Remove Node</span>
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>
        <mat-icon mat-list-icon>healing</mat-icon>
        <span>Heal Network</span>
    </mat-list-option>
    <mat-list-option>
        <mat-icon mat-list-icon>sync_alt</mat-icon>
        <span>Update Neighbors</span>
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>
        <mat-icon mat-list-icon>refresh</mat-icon>
        <span>Refresh Information</span>
    </mat-list-option>

</mat-selection-list>