<div class="grid-container">
  <h1 class="mat-h1">Global Settings</h1>
  <mat-grid-list cols="2" rowHeight="150px">

    <mat-grid-tile colspan=2 rowspan=1>
      <mat-card class="dashboard-card">
        <mat-card-content
            style="padding-top: 10px; padding-right: 30px; padding-left: 30px"
            fxLayout="row"
            fxLayoutAlign="space-between center">
          <div fxLayout="column">
            <div>Network State</div>
            <div [ngSwitch]="network_state" style="font-size: 24px;">
              <ng-container *ngSwitchCase="'started'">
                <span style="color: green">STARTED</span>
              </ng-container>
              
              <ng-container *ngSwitchCase="'ready'">
                <span style="color: green">READY</span>
              </ng-container>
              <ng-container *ngSwitchCase="'awake'">
                <span style="color: indigo">AWAKE</span>
              </ng-container>
              <ng-container *ngSwitchCase="'stopped'">
                <span style="color: red">STOPPED</span>
              </ng-container>
              <ng-container *ngSwitchCase="'failed'">
                <span style="color: red">FAILED</span>
              </ng-container>
              <ng-container *ngSwitchCase="'resetted'">
                <span style="color: orange">RESETTED</span>
              </ng-container>
              <ng-container *ngSwitchCase="'unknown'">
                <span style="color: indigo">UNKNOWN</span>
              </ng-container>
              <ng-container *ngSwitchDefault>???</ng-container>
            </div>
            <div *ngIf="network_status && network_state != 'stopped'">
              <strong>></strong> {{network_status.network_state_str}}
            </div>
          </div>
          <div [ngSwitch]="server_state">
            <button *ngSwitchCase="'stopped'"
              mat-stroked-button color="primary"
              (click)="start_network()">Start</button>
            <button *ngSwitchCase="'running'"
              mat-raised-button color="warn"
              (click)="stop_network()">Stop</button>
            <button *ngSwitchDefault
              mat-stroked-button color="disabled">Start</button>
          </div>
          <div fxLayout="column">
            <div>Server State</div>
            <div [ngSwitch]="server_state" style="font-size: 24px;">
              <ng-container *ngSwitchCase="'starting'">
                <span style="color: green">STARTING</span>
              </ng-container>
              <ng-container *ngSwitchCase="'running'">
                <span style="color: green">RUNNING</span>
              </ng-container>
              <ng-container *ngSwitchCase="'unknown'">
                <span style="color: indigo">UNKNOWN</span>
              </ng-container>
              <ng-container *ngSwitchCase="'stopping'">
                <span style="color: orange">STOPPING</span>
              </ng-container>
              <ng-container *ngSwitchCase="'stopped'">
                <span style="color: red">STOPPED</span>
              </ng-container>
              <ng-container *ngSwitchDefault>???</ng-container>
            </div>
            <div>
              <ng-template
                  [ngIf]="network_status && network_status.device !== ''">
                <span>
                  {{network_status.device}}
                </span>
              </ng-template>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile colspan=2 rowspan=4>
      <div class="dashboard-form">
      <!-- more settings here please -->
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
